:root {
  --color-text: #4d5ae5;
  --color-light: #f4f4fd;
  --color-titles-body: #2e2f42;
  --color-p-body: #434455;
  --white-color: #ffffffff;
  --button-color:  #e7e9fc;
  --icons-color: #8e8f99;
  --padding-sections: 96px 0;
}

*
{
  margin: 0;
}


*,
*::before{
  box-sizing: border-box;
}

*::after{
  box-sizing: border-box;
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;


}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-p-body);
  background-color: var(--white-color);
  margin: 0 auto;
}

.list {
  list-style: none;
  /* display: flex; */
  padding: 0;
}
.link {
  text-decoration: none;
 
}

.link:hover
{
    color: #404bbf;
}

.link:focus
{
    color: #404bbf;
}

.logo-link {
  color: var(--color-text);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  /* margin-right: 76px; */
  display: inline-block;
  padding: 25.5px 0 0 16px ;
  margin-bottom: 16px;


}


.top-line-menu{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.top-line-menu-header{
  display: flex;
  padding: 16px 0px 16px 0px;
  align-items: center;
}
.top-line-menu-button{
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ul-top-line-menu{
  margin: 80px 0px 284px 40px;
    display: inline-flex;
    flex-direction: column;
    gap: 40px;
}

.link-top-line-menu{
  color: #2e2f42;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.link-top-line-menu:hover,
  .link-top-line-menu:focus {
    color: #404bbf;
  }
.adress-ul-top-line-menu{
  margin: 0px 0px 48px 40px;
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
}

.link-adress-top-line-menu-phone{
  color: #4d5ae5;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.link-adress-top-line-menu-email{
  color: #434455;

    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.4px;
}
.is-open {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.svg-social-media-top-line-menu{
  display: flex;
  justify-content: center;
  gap: 56px;
  padding-bottom: 40px;
}.


.svg-top-line-menu{
  cursor: pointer;
  gap: 56px;

}

.logo-link-footer {
  color: var(--color-text);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  /* margin-right: 76px; */
  display: inline-block;
  padding-bottom: 17px;

}


.logo-second-word {
  color: var(--color-titles-body);
}


.logo-second-word-footer {
  color: var(--color-light);
}

.nav {
  display: flex;
  align-items: center;
  
}
.adress {
  display: none;
  color: var(--color-p-body);
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.adress-info {
  color: var(--color-p-body);
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
  


.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color:var(--color-text);
  background-color: #f4f4fd;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.button:hover
 {
  color: #ffffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button:focus {
  color: #ffffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


.order-service-button
{
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.order-service-button:hover,
:focus
{
color: background-color: #404bbf;
background-color: #404bbf;
}

.section-darky
{ background-color: var(--color-titles-body);
  background-image: url("../images/background-image.jpg");
}

.three-title {
  background-color: #ffffffff;
  color: var(--color-titles-body);
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
  text-align: center;
  /* padding: 24px 20px; */
}

.three-title-team-member {
  background-color: #ffffffff;
  color: var(--color-titles-body);
  font-size: 20px;
  /* font-size: 36px; */
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
  text-align: center;
  /* padding: 24px 20px; */

}
.two-title {
color: var(--color-titles-body);
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 120%;
letter-spacing: 0.4px;
margin-bottom: 8px;
/* padding: 24px 20px; */
}

.section-light
{
background-color: var(--color-light);

}

.title-web-studio
{
  color: var(--white-color);
  text-align: center;
  /* font-size: 56px; */
  font-size: 36px;
  font-weight: 700;
  /* line-height: 107.143%;
  letter-spacing: 1.12px; */
  line-height: 111.111%;
letter-spacing: 0.72px;
  max-width: 496px;
  margin: auto;
  padding-bottom: 72px;
  /* padding-bottom: 48px; */

}

.subtitle-web-studio-blue
{
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-titles-body);
  /* margin-bottom: 72px; */


}
.subtitle-web-studio-blue-2
{
  font-size: 36px;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-titles-body);
  margin-bottom: 72px;


}

.p-body {
  color: var(--color-p-body);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
  text-align: center;
  /* padding: 24px 16px; */
  padding-bottom: 8px;
}

.p-body-portfolio {
  color: var(--color-p-body);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
  /* padding: 24px 16px; */
  padding-bottom: 8px;
}

.p-body-section-two {
  color: var(--color-p-body);
  font-size: 16px;
  font-style: normal;
  /* font-weight: 400; */
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
  /* text-align: center; */
  /* padding: 24px 16px; */
  padding-bottom: 72px;
}

.p-body-last
{
  color: var(--color-p-body);
  font-size: 16px;
  font-style: normal;
  /* font-weight: 400; */
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
  /* text-align: center; */
  /* padding: 24px 16px; */

}


/* .p-body-section-two:last-child
{
  padding-bottom: 0px;
} */

.p-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  /* max-width: 264px; */
  color: var(--color-light);
  padding: 0 80px;



}
.footer {
  background-color: var(--color-titles-body);
  padding: 100px 0;
}
  


.team-member {
    background-color: #ffffffff;
    width: calc((100% - 72px) / 4);
    width: 100%;
    min-width: 264px;
    border-radius: 0px 0px 4px 4px;
    display: block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    width: 100%;
  
}

.team-member-list {
  background-color: #ffffffff;
  width: calc((100% - 72px) / 4);
  /* width: 100%; */
  min-width: 264px;
  border-radius: 0px 0px 4px 4px;
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  /* width: 100%;
  height: 100%; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 72px;
  margin: auto;
  gap: 24px;
}

    


.background-white {
    background-color: #ffffffff;
}

.top-line {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav-links {
  color: var(--color-titles-body);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  letter-spacing: 0.32px;
  display: inline-block;
  padding: 24px 0;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
 
}

.nav-links::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-links:hover .nav-links:focus {
  color: #404bbf;
}


.nav-list
{
  display: none;
/* display: flex; */
  gap: 40px;

}

.adress-list {
  display: flex;
  gap: 40px;
  padding-left: 251px;
  }

.logo-top-line
{
  margin-right: 76px;
  padding: 25,5px 1169px 25,5px 156px;
  justify-content: flex-start;

}

.hero-image {
/* max-width: 1440px; */
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-5.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
/* height: 600px; */
height: 432px;
/* top: 72px; */
/* padding: 188px 0; */
padding: 112px 0;



}

.section-two
{
/* display: flex; */
/* padding: 120px 0; */
padding: var(--padding-sections) ;
gap: 24px;
}

.section-two-ul
{
/* display: flex; */
/* padding: 120px 0; */

gap: 24px;
}

.section-two-list
{
/* display: flex; */
/* padding: 120px 0; */
gap: 24px;
}



.section-three
{
  display: none;
/* display: flex; */
/* padding-bottom: 120px; */
gap: 24px;


}

.section-four{
/* display: flex; */
/* gap: 24px; */
/* padding: 120px 0; */
padding: var(--padding-sections);
}

.section-four-list{
  /* display: flex; */
  /* gap: 24px; */
  /* padding: 120px 0; */
 padding-top: 72px;
  }

.container {
  /* width: 1158px; */
  /* width: 428px; */
  width: auto;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list-grid {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  
}



.buttons-list
{
  /* display: flex; */
  justify-content: center;
  gap: 24px;
  margin-bottom: 48px;

}




.section-portfolio
{ 
  
   padding: 48px 0 48px 0;
}

.item-grid
{
  /* padding: 0 16px 48px ; */
}
.container-list
{
  border-radius: 0px 0px 4px 4px 4px;
  padding: 32px 0 ;

}

.container-grid
{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.section-three-image
{
  display: block;
  width: calc((100% - 48px) / 3);
  width: 100%;
  min-width: 264px;
}



.portfolio-image {
  display: block;
  width: calc((100%-48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  gap: 48px
  /* text-align: center;
  justify-content: center;
  align-items: center; */


}



.link.portfolio-image:focus .blue-paragraph-text,
.link.portfolio-image:hover .blue-paragraph-text {
  transform: translateY(0%);
}

.portfolio-image:hover, 
:focus
{
  transform: translateY(0%);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.header-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container
{
  /* display: flex; */
  align-items: baseline;
}

.footer-social-media-list
{
  width: 40px;
  height: 40px;
}

.section-two-element
{
  width: calc((100% - 72px) / 4);
  width: 100%;
  min-width: 264px;
}

.svg-images
{
  display: flex;
  gap: 24px;
  justify-content: center;
}

.svg-list-element
{
  fill: var(--color-light);
  background-color: var(--color-text);
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

 
}
.svg-list-element:hover
{
  background-color: #404bbf;
}

.svg-list-element:focus
{
  background-color: #404bbf;
}

.svg-elements-big
{
  fill: var(--icons-color);
  display: flex;
  width: 168px;
  height: 88px;
  align-items: center;
  justify-content: center;
  color: var(--icons-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.svg-elements-big:hover,
:focus
{
  border-color: #404bbf;
  color: #404bbf;
}


.section-five{
  display: flex;
  gap: 24px;
  padding: 120px 0;
  }

.svg-elements-section-two
{
  display: none;
  fill: var(--color-titles-body);
  background-color: var(--color-light)
  height: 112px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 8px;
}

.svg-elements-list
{
display: flex;
background-color: var(--color-text);
width: 100%;
height: 100%;
border-radius: 50%;
align-items: center;
}

.svg-elements-section-five
{
/* display: flex; */
gap: 24px;
justify-content: center;
width: 100%;
height: 100%;
border-radius: 50%;
align-items: center;
border-radius: 4px;
border: 1px solid var(--icons-color);
color: var(--icons-color);
justify-content: center;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-elements-section-five:hover
{
  color: #404bbf;
  border-color: #404bbf;
}

.svg-elements-section-five:focus
{
  color: #404bbf;
  border-color: #404bbf;
}

.div-section-two
{
  height: 112px;
  background-color: #f4f4fd;
}

.p-footer-two
{
  color: #ffffff;
  margin-bottom: 16px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  padding-top: 72px;


}

.footer-list-elements
{
  display: flex;
  justify-content: center;
  gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-one-footer
{
  /* margin-right: 120px; */
  text-align: center;

}

label
{
  display: flex;
  flex-direction: column;
 
}

.footer-icon{
  fill: var(--color-light);
  background-color: var(--color-text);
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon:hover
{

  background-color: #31d0aa;
}

.footer-icon:focus
{

  background-color: #31d0aa;
}


.svg-icons-element 
{
  fill: currentColor;
  width: 110px;
height: 56px;
text-align: center;
align-items: center;
justify-content: center;


  /* padding-top: 16px; */
}

.svg-icons-element-light 
{
  fill: var(--color-light);

}

.blue-image {
  position: relative;
  overflow: hidden;
}

.blue-paragraph-text {
  color: var(--color-light);
  background-color: var(--color-text);
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-white {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;

}

.images
{
  display: block;
  max-width: 100%;
  height: auto;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.button-modal-window {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  fill: #2E2F42;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-modal-button {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.list-grid li:hover .portfolio-image .blue-paragraph-text {
  transform: translateY(0%);
}

.list-grid li:focus .portfolio-image .blue-paragraph-text {
  transform: translateY(0%);
}

.nav-links .link:nth-child(1) {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-five-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 24px;
}

.button-modal-window:hover,
.button-modal-window:focus 
{
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}


.svg-modal-button:hover,
.svg-modal-button:focus 
{
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.p-modal-window
{
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-titles-body);
  margin-bottom: 16px;

  
}

.modal-div-form
{
  margin-bottom: 8px;
  
}

.modal-div-form:focus-within {
  fill: #4D5AE5;
}


.label-modal
{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--icons-color);
  display: block;
  margin-bottom: 4px;

}

.div-label-comentariu
{
  margin-bottom: 16px;
}



.modal-window-label
{
  position: relative;
}

.labels-modal
{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.labels-modal:focus
{
  border-color: #4D5AE5;
  fill: #4D5AE5;
}

.svg-labels-modal {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-labels-modal:focus {
  fill: #4D5AE5;
}



.labels-modal:focus {
  border-color: #4D5AE5;
}


.textarea-modal {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.textarea-modal:focus
{border-color: #4D5AE5 ;
}

.checkbox-modal
{
  margin-bottom: 24px;

}

.footer-form
{
  /* display: flex; */
  gap: 24px;

}



.footer-form input [placeholder] {
  color: #fff;
}
.footer-input {
  /* width: 264px; */
  width: 398px;
  height: 40px;
  /* gap: 24px; */
  color: #fff;
  background-color: transparent;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  margin: auto;

 
}

.p-footer-form
{

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
  text-align: center;
  padding-top: 72px;
  color: #ffffff;
}



.button-footer-form {
  height: 40px;
  min-width: 165px;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  align-items: center;
  justify-content: center;
  /* display: flex; */
  gap: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  text-align: center;

}

.svg-footer-form
{
  margin-left: 16px;
}

.span-modal-window {
  height: 16px;
  width: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}


#user-privacy:checked + .label-modal .span-modal-window {
  background-color: var(--background-color-checked, #404bbf);
  border: none;
  fill: var(--icon-color-checked, #F4F4FD);
}

.link-privacy-policy {
  color: var(--text-color, #4d5ae5);
}


.button-modal-form{
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  background-color: #4D5AE5;
  cursor: pointer;
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
}

.section-two-image
{
  width: 100%;
  min-width: 264px;
}



.checkbox-modal:focus + .svg-labels-modal .svg-icons-element {
  fill: #4D5AE5;
}

.checkbox-modal:checked + .svg-labels-modal .svg-icons-element {
  fill: #4D5AE5;
}

.footer-div-form
{
  /* padding-left: 80px; */
  text-align: center;
}


.flex
{
  display: flex;
  gap: 16px;
  padding: 0 16px 72px 16px;
  text-align: center;
  justify-content: center;



}

.flex:last-child
{
  padding-bottom: 0;
}

/* .container:last-child
{
  padding: 0;
} */

.footer-label-form
{
  padding-bottom: 16px;
}

.flex-portfolio
{
  display: flex;
 gap: 24px;
 padding-bottom: 16px;
}

@media screen and (768px <= width <= 1158px) {
  
  /* .container
  {
  min-width: 429px;
  max-width: 768px;

  } */
  .list
  {
    display: flex;
    padding: ;
  }
 
  .top-line-menu{
    display: none;
  }
    .container {
       width: 1158px; 
      width: auto;
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
    }


.logo-link{
    /* padding: 25.5px 76px 25.5px 156px; */
    padding: 21px 0 0 16px;
    margin-right: 120px;
 
}

  .nav-list
  {
    display: flex;
  }
  .nav-links{
font-size: 16px;
font-weight: 500;
line-height: 150%;
letter-spacing: 0.32px;
  }

  .adress
  {
    display: flex ;

  
  }

  .team-member-list{
    margin: 0;
  }
  .adress-list{
display: block;
/* padding-left: 121px; */
gap: 12px;
  }
  .adress-info{
    width: 119px;
    height: 14px;
    flex-shrink: 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 116.667%;
    letter-spacing: 0.48px;

  }
  .three-title
  {
 font-size: 36px;
 font-weight: 700;
 
  }
  
  
  .three-title-team-member {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.4px;
  }

  .title-web-studio
  {
    font-size: 56px;
    padding-bottom: 36px;
    line-height: 107.143%;
    letter-spacing: 1.12px;
  }
  .what-are-we-doing
  {
    display: none;
  }

  .p-body {
  padding: 8px 0;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0.32px;
  }
  .p-body-portfolio {
    padding: 24px 16px;
  }
  .p-body-section-two {
    font-weight: 500;

  }
  .p-body-last{
    font-weight: 500;
  }
  .p-footer {
    max-width: 264px;
  }
  .hero-image {
    /* margin: auto; */
  width: auto;
  height: 436px;
  padding: 112px 0;
  background-size: cover;
  }

  .section-two-image{

        max-width: 356px;
        flex-wrap: wrap;
        justify-content: center;
  }
  .section-two
  {
  
    /* display: flex; */
    padding: 96px 0;

  }
  .section-two-list{
    flex-wrap: wrap;
    justify-content: center;
  }
  .div-section-two{
    display: none;
  }
  
  .section-three
  {
  display: none;
  
  }

  
  .section-five-list{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 24px;

    
  }

  
   .section-four{ 
  /* display: flex; */
  display: flex;
  padding: 96px 0;;}

  .section-four-list{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* display: flex; */
    gap: 24px;
    columns: 2;
    /* padding: 0; */
}

.section-four-container{
  width: auto;

}
  
.our-team
{
  margin-bottom: 72px;
}
.container-list{
  padding: 32px 0;
  display: flex;
  width: 264px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}



  
  /* .team-member
  {
    display: block;
  } */
  
  .buttons-list
  {
    display: flex;
  }
  .portfolio-image {
    text-align: center;
    justify-content: center;
    align-items: center;
  
  
  }

  .svg-elements-section-five
  {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
    justify-content: center;
  }

  .svg-icons-element 
  {
    /* padding-top: 16px; */
    width: 104px;
    height: 56px;
  }

 
  .section-two-element{
    text-align: left;
  }

  
.section-five
{    display: flex;
  padding: 96px 0px;

 
}


  .footer-input{

  width: 264px;
  gap: 24px;
  }
.svg-elements-big{
  width: 168px;
  height: 88px;
}

.svg-elements-section-five{
  width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  .logo-link-footer{
      margin: 0;
      text-align: left;
    
  }

  .div-one-footer{
    margin: 0;
    text-align: left;
  }

  .p-footer{
      max-width: 264px;
    padding: 0;
    text-align: left;

  }


  .p-footer-two{
    text-align: left;
    padding-top: 0;
  }

  .footer-container{
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    width: auto;
  
  }

  .social-media-footer
  {
    display: block;
  }


.footer-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  gap: 24px;
}

.footer-list-elements{
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer{
  width: auto;
  display: flex;
  padding: 96px 0;
  margin: 0;
  
}

.footer-div-form{
  /* margin-top: 72px; */
}

.p-footer-form{
  /* margin-bottom: 16px; */
  text-align: left;
}

.list-grid{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 72px;
}

/* .item-grid{
  width: calc((100%-48px) / 3);
    display: block;
} */

}



@media screen and ( min-width: 1158px )
{
  .list
  {
    display: flex;
  }
  .top-line-menu{
    display: none;
  }
 
    .container {
       width: auto;
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
    }


.logo-link{
    /* padding: 25.5px 76px 25.5px 156px; */
    padding: 21px 0 0 16px;

    margin-right: 76px;
 
}

  .nav-list
  {
    display: flex;
  }

  .adress
  {
    display: flex ;

  
  }

  .adress-list{
display: flex;
padding-left: 251px;
gap: 40px;
  }
  .adress-info{
   display: flex;
width: 153px;
height: 24px;
justify-content: center;
align-items: center;
flex-shrink: 0;

  }
  .three-title
  {
 font-size: 20px;
 font-weight: 500;
 
  }
  
  .three-title-team-member {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.4px;
  }

  .title-web-studio
  {
    font-size: 56px;
    padding-bottom: 48px;
    line-height: 107.143%;
    letter-spacing: 1.12px;
  }
  .subtitle-web-studio-blue
  {
    margin-bottom: 72px;
  }
  .p-body {
    padding: 8px 0;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0.32px;
  }
  .p-body-portfolio {
    padding: 24px 16px;
  }
  .p-body-section-two {
    font-weight: 400;

  }
  .p-body-last{
    font-weight: 400;
  }
  .p-footer {
    max-width: 264px;
  }
  .hero-image {
    margin: auto;
width: auto;
  height: 600px;
  padding: 188px 0;
  background-size: cover;
  }
  .section-two
  {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 120px 0;
  /* margin-left: 156px; */

  }
  .section-two-ul
  {
  display: flex;
 

  
  }
  
  .section-three
  {
  display: flex;
  padding-bottom: 120px;
  /* margin-left: 156px; */
  width: auto;
  
  }

  .section-five{
    display: flex;
  }
  .section-four{
  display: flex;
  gap: 24px;
/* margin-left: 156px; */
  width: auto;

  
  }
  .buttons-list
  {
    display: flex;
  }
  .portfolio-image {
    text-align: center;
    justify-content: center;
    align-items: center;
  
  
  }

  .svg-elements-section-two
  {
    display: flex;
  }
  .svg-elements-section-five
  {
  display: flex;
  }

  .svg-icons-element 
  {
    padding-top: 16px;
  }

 
  .top-line{
   flex-wrap: wrap;
   flex-direction: row;
   display: flex;
  }

  .section-two-element{
    text-align: left;
  }

  .section-four-list{
    gap: 24px;
  }

  .section-five{
    display: flex;
    width: auto;
  }


  .footer-input{

  width: 264px;
  gap: 24px;
  }

  .logo-link-footer{
      margin-right: 76px;
    
  }

  .p-footer{
      max-width: 264px;
      padding: 0;
      text-align: left;


  }

  .footer-container{
    display: flex;
  
  }

  .div-one-footer
{
  margin-right: 120px;

  flex-direction: row;
}

.footer-form{
  display: flex;
}

.footer-list-elements{
  margin-right: 80px;
}

.footer{
  display: flex;
  padding: 100px 0;
  
}

.p-footer-two{
  text-align: left;
}

.section-four-list{
  display: flex
}

.list-grid{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.section-portfolio{
  padding-top: 96px;
  padding-bottom: 120px;
}

.p-footer-form{
  text-align: left;
}

.logo-link-footer{
  text-align: left;
 

}

.portfolio-image{
  width: calc((100%-48px) / 3);
  display: block;
}
}
